RewriteEngine On
RewriteBase /
RewriteRule ^track/(.*)/(.*)/(.*)$      load_track.php?type=track&artist=$1&track=$2&size=$3      [L]
RewriteRule ^track/(.*)/(.*)$           load_track.php?type=track&artist=$1&track=$2&size=small   [L]
